<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Dojo Survey Completed</title>
</head>
<body>
    <div action="/results" style="text-align:center;" class="form">
        <h1 class="title">{{ survey.name}}</h1>
        <p class="formInput">Dojo Location:</p>
        <p>{{survey.location}}</p>
        <p class="formInput">Favorite Language:</p> 
        <p>{{survey.language}}</p>
        <p class="formInput">Comments:</p>
        <p>{{survey.comment}}</p>
        <a href="/"><button class="button">Go Back</button></a>
    </div>
</body>
</html>